*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;

background:
linear-gradient(
135deg,
#1e3c72 0%,
#2a5298 50%,
#4facfe 100%
);

overflow:hidden;
}

.card{

width:100%;
max-width:420px;

padding:35px 28px;

border-radius:30px;

background:
rgba(255,255,255,0.12);

backdrop-filter:blur(25px);

border:
1px solid rgba(255,255,255,.2);

box-shadow:

0 20px 40px rgba(0,0,0,.25);

text-align:center;

color:white;

transition:.4s;
}

.card:hover{

transform:
translateY(-5px);

}

.search{

display:flex;

gap:12px;

align-items:center;

}

.search input{

flex:1;

height:58px;

border:none;

outline:none;

border-radius:50px;

padding:0 22px;

font-size:16px;

background:white;

color:#222;

}

.search button{

width:58px;

height:58px;

border:none;

border-radius:50%;

background:white;

cursor:pointer;

display:flex;

justify-content:center;

align-items:center;

transition:.3s;

}

.search button:hover{

transform:scale(1.08);

}

.search button img{

width:22px;

}

.weather{

margin-top:30px;

}

.weather-icon{

width:150px;

filter:

drop-shadow(
0 10px 20px rgba(0,0,0,.3)
);

}

.temp{

font-size:72px;

font-weight:700;

margin-top:10px;

}

.city{

font-size:38px;

font-weight:600;

margin-top:5px;

}

.details{

display:flex;

justify-content:space-between;

margin-top:45px;

gap:20px;

}

.col{

display:flex;

align-items:center;

gap:12px;

}

.col img{

width:45px;

}

.humidity,
.wind{

font-size:24px;

font-weight:700;

}

.col p:last-child{

font-size:14px;

opacity:.8;

}

@media(max-width:500px){

.card{

padding:28px 20px;

}

.temp{

font-size:58px;

}

.city{

font-size:30px;

}

.weather-icon{

width:120px;

}

.details{

flex-direction:column;

align-items:center;

gap:28px;

}

.search input{

height:52px;

font-size:14px;

}

.search button{

width:52px;

height:52px;

}

}